html{
  font-size: 18px;
  color: white;
}

.container{
  display: flex;
  width: 960px;
  margin: auto;
}

/* HEADER */
header{
  background-color: black;
}

header .container{
  align-items: center;
  padding
}

header img{
  height: 1.5rem;
  padding-left: 0.5rem;
}

header span{
  padding: 0.66rem 0 0.66rem 1.0rem;
  font-family: Helvetica;
  font-size: 1rem;
}

/* MAIN BANNER */
.main-banner{
  background-image: url("../images/main-banner-background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 25rem;
}

.headline{
  background-color: black;
  margin-top: 9rem;
  padding: 2rem 3rem;
  width: 20rem;
}

.headline h4,
.headline h1{
  font-family: Helvetica;
  font-weight: bold;
}

.headline h4{
  font-size: 1rem;
  margin-bottom: 0.25rem;
}

.headline h1{
  font-size: 2rem;
}

/* NAV BAR */
nav{
  background-color: firebrick;
}

.menu-option{
  display: none;
}

nav .container{
    justify-content: space-between;
}

nav .container p{
  display: flex;
  justify-content: center;
  padding: 0.75rem;
  font-family: Helvetica;
}

nav a{
  text-decoration: none;
  color: white;
}

/* PRODUCTS */
.products{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product{
  border: 4px solid black;
  width: 30%;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
}

.product img{
  height: 9rem;
  padding: 2rem 0rem;
  margin: auto;
  overflow: hidden;
}

.glasses img{
  width: 80%;
}

.product .description{
  background-color: black;
  padding: 0.5rem 0;
  text-align: center;
}

/* INFO */
.business-info{
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
  width: 100%;
  flex-flow: row wrap;
}

.info{
  width: 35%;
}

.info-title{
  background-color: black;
  padding: 1rem 0 1rem 2rem;
}

.info-content{
  color: black;
}

/* FOOTER */
footer{
  background-color: black;
  margin-top: 4rem;
  height: 5rem;
  display: flex;
  align-items: center;
}

/* OPTIMIZATION */

@media only screen and (max-width: 1024px){
  .container{
    width: 100%;
  }

  .product{
    border: 4px solid black;
    width: 47%;
    margin-top: 3rem;
  }

  .info{
    width: 35%;
  }

  .glasses{
    display: none;
  }

  .categories-option{
    display: none;
  }

  .menu-option{
    display: block;
  }
}

@media only screen and (max-width: 470px){
  .container{
    width: 90%;
  }

  header .container,
  .main-banner .container,
  nav .container{
    width: 100%;
  }

  header{
    padding: 1rem 0rem;
  }

  header span{
    display: none;
  }

  header img{
    margin: auto;
  }

  .headline{
    background-color: black;
    padding: 0rem 2rem;
    width: 100%;
    height: 3.5rem;
    margin-top: 10rem;
    padding-top: 1.5rem;
  }

  .main-banner{
    height: 15rem;
  }

  .headline h4{
    font-size: .77rem;
    margin-bottom: 0.25rem;
  }

  .headline h1{
    font-size: 1rem;
  }

  .categories-option{
    display: none;
  }

  .menu-option{
    display: block;
  }

  .product{
    width: 90%;
  }

  .watch{
    display: none;
  }

  .info{
    width: 92%;
  }

  .hours{
    margin-top: 0.5rem;
  }

  footer .container{
    justify-content: center;
  }
}
